---
import globalStyles from '../styles/global.css?raw';
import { typografText } from '../lib/typography.mjs';
import SiteFooter from '../components/SiteFooter.astro';
import SiteHeader from '../components/SiteHeader.astro';

interface Props {
  documentTitle: string;
  description: string;
  showBackToTop?: boolean;
}

const { documentTitle, description, showBackToTop = false } = Astro.props;
const displayTitle = typografText(documentTitle);
const displayDescription = typografText(description);
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={displayDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>Б</text></svg>" />
    <meta name="generator" content={Astro.generator} />
    <title>{displayTitle}</title>
    <style is:inline set:html={globalStyles}></style>
  </head>
  <body>
    <SiteHeader />
    <main>
      <slot />
    </main>
    <SiteFooter showBackToTop={showBackToTop} />
  </body>
</html>
